<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/produtosForm.css">

    <title><%= produto ? 'Editar Produto' : 'Adicionar Novo Produto' %></title>
    
</head>
<body>
    <h1><%= produto ? 'Editar Produto' : 'Adicionar Novo Produto' %></h1>
    
    <div class="form-container">
        <form action="<%= produto ? '/save-produto/' + produto.id : '/save-produto' %>" method="POST">
            <% if (produto) { %>
                <input type="hidden" name="produtoId" value="<%= produto.id %>">
            <% } %>
            
            <label for="name">Nome do Produto:</label>
            <input type="text" id="name" name="name" value="<%= produto ? produto.name : '' %>" required>
            
            <label for="description">Descrição:</label>
            <textarea id="description" name="description" rows="4" required><%= produto ? produto.description : '' %></textarea>
            
            <label for="zonaId">Zona:</label>
            <select id="zonaId" name="zonaId" required>
                <% if (produto && produto.zona) { %>
                    <option value="<%= produto.zona.id %>" selected><%= produto.zona.name %></option>
                <% } %>

                <% zonas.forEach(function(zona) { %>
                    <% if (!produto || !produto.zona || produto.zona.id !== zona.id) { %>
                        <option value="<%= zona.id %>"><%= zona.name %></option>
                    <% } %>
                <% }) %>
            </select>

            <button type="submit"><%= produto ? 'Salvar Alterações' : 'Adicionar Produto' %></button>
            <button type="button" class="cancel-button" onclick="javascript:history.back()">Cancelar</button>
        </form>
    </div>
</body>
</html>
