<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/produtos.css">
  <title>Pedir produto</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/zones">Zones</a></li>
        <% if (username.role === 'admin') { %>
          <li><a href="/editAll">Edição</a></li>
        <% } %>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/logout">Sair</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="center">
    <div id="p-container">
      <% produtos.forEach(function(produto) { %>
        <div>
          <h3><%= produto.id %> - <%= produto.name %></h3>
          <h3>Descrição do produto abaixo:</h3>
          <p>( <%= produto.description %> )</p>
          <p><%= produto.zona && produto.zona.name ? produto.zona.name : 'Nenhuma zona disponível' %></p>
          <form action="/pedir-produto" method="POST">
            <input type="hidden" name="produtoId" value="<%= produto.id %>">
            <button type="submit">Pedir</button>
          </form>
        </div>
      <% }) %>
    </div>
  </div>

  <footer>
    <p>A vida não é um morango</p>
    <p>&copy; 2024 EIBY. Todos os direitos reservados.</p>
  </footer>
</body>

</html>